// ********************************************************************************
// * TABLE OF CONTENT
// * 
// * img ................................................... make images responsive
// */



// ********************************************************************************
// * img
// */
img {
    height     : auto;
    width      : auto;
    max-width  : 100%;
    max-height : inherit;
}
