// ********************************************************************************
// * TYPOGRAPHIE
// * 
// * TABLE OF CONTENT
// * 
// * #general reset ...............................................................
// * #burger-button ...............................................................
// */



// ********************************************************************************
// * HTML
// */
html {
    color       : $color-01;
    font-family : 'Source Sans Pro', sans-serif;
    font-size   : $base-font-size;
    font-weight : 300;
    line-height : 1.5;
}



// ********************************************************************************
// * A
// */
a {
    text-decoration : none;
    color           : $color-03;
    transition      : color .25s ease;
    
    
    &:hover {
        color : $color-01;
    }
}



// ********************************************************************************
// * HEADLINES
// */
h1, h2, h3, h4, h5, h6 {
    font-weight : 400;
    color       : $color-03;
    line-height : 1.3;
}



h1 {
    margin    : 0 0 $base-font-size;
    font-size : $base-font-size * 2;
}



h2 {
    font-size : $base-font-size * 1.5;
}



// ********************************************************************************
// * P
// */
p {
   strong {
      font-weight : 400;
   }
}