// ********************************************************************************
// * #HELPER
// * 
// * TABLE OF CONTENT
// * 
// * #display .....................................................................
// * 
// * #line-height .................................................................
// *
// * #padding .....................................................................
// *   #padding-top ...............................................................
// *   #padding-right .............................................................
// *   #padding-bottom ............................................................
// *   #padding-left ..............................................................
// *
// * #margin ......................................................................
// *   #margin-top ................................................................
// *   #margin-right ..............................................................
// *   #margin-bottom .............................................................
// *   #margin-left ...............................................................
// *
// * #overflow ....................................................................
// *
// * #text-align ..................................................................
// *
// * #transition ..................................................................
// *
// * #vertical-align ..............................................................
// */


// ********************************************************************************
// * #WIDTH-settings
// * "key", "value", "for m", "for t", "for d", "for all"
// * @NOTICE: Enter the name of the breakpoint
// */
$map-width : (
    6\/12  : ( percentage( 6 / 12 ), 0, 0, 0, 0, 1 ),
    "100p" : ( 100%                , 1, 1, 1, 0, 1 ),
);

$map-max-width : (
    "100p" : ( 100%, 0, 0, 0, 0, 0 ),
);

$map-min-width : (
    "100p" : ( 100%, 0, 0, 0, 0, 0 ),
);



// ********************************************************************************
// * #WIDTH-settings
// * "key", "value", "for m", "for t", "for d", "for all"
// * @NOTICE: Enter the name of the breakpoint at usin the class
// */
$map-height : (
    "100p" : ( 100%, 0, 0, 0, 0, 1 ),
);

$map-max-height : (
    "73vh" : ( 73vh, 0, 0, 0, 0, 1 ),
);

$map-min-height : (
    "100p" : ( 100%, 0, 0, 0, 0, 0 ),
);



// ********************************************************************************
// * #display
// */
$map-display : (
    "ib" : ( inline-block, 0, 0, 0, 0, 1 ),
    "b"  : ( block       , 0, 0, 0, 0, 1 ),
);



// ********************************************************************************
// * #display
// */
$map-line-height : (
    "0" : ( 0, 0, 0, 0, 0, 1 ),
);



// ********************************************************************************
// * #padding
// */
$map-padding : (
    0 : ( 0 , 0, 0, 0, 0, 1 )
);

$map-padding-top : (
    2\/12 : ( percentage( 2/12 ) , 0, 0, 1, 1, 0 ),
);

$map-padding-right : (
    10    : ( 10px               , 0, 0, 0, 0, 1 ),
    2\/12 : ( percentage( 2/12 ) , 0, 0, 1, 1, 0 ),
);

$map-padding-bottom : (
    2\/12 : ( percentage( 2/12 ) , 0, 0, 1, 1, 0 ),
);

$map-padding-left : (
    10    : ( 10px               , 0, 0, 0, 0, 1 ),
    2\/12 : ( percentage( 2/12 ) , 0, 0, 1, 1, 0 ),
);



// ********************************************************************************
// * #margin
// */
$map-margin : (
    0 : ( 0, 0, 0, 0, 0, 1 ),
);

$map-margin-top : (
    0  : ( 0    , 0, 0, 0, 0, 1 ),
    20 : ( 20px , 0, 0, 0, 0, 1 ),
);

$map-margin-right : (
    "0"  : ( 0   , 0, 0, 0, 0, 1 ),
);

$map-margin-bottom : (
    0  : ( 0    , 0, 0, 0, 0, 1 ),
    20 : ( 20px , 0, 0, 0, 0, 1 ),
);

$map-margin-left : (
    "20" : ( $base-font-size, 0, 1, 0, 0, 1 ),
);



// ********************************************************************************
// * #overflow
// */
$map-overflow : (
    "h" : ( hidden, 1, 0, 0, 0, 0 ),
);



// ********************************************************************************
// * #text-align
// */
$map-text-align : (
    "l" : ( left   , 0, 0, 0, 0, 1 ),
    "c" : ( center , 1, 1, 0, 0, 1 ),
    "r" : ( right  , 0, 0, 0, 0, 1 ),
);



// ********************************************************************************
// * #Transition
// */
$map-transition: (
    \.25s : ( all .25s ease, 0, 0, 0, 0, 1 )
);



// ********************************************************************************
// *   #vertical-align
// */
$map-vertical-align : (
    "t" : ( top    , 0, 0, 0, 0, 1 ),
    "m" : ( middle , 0, 0, 0, 0, 1 ),
);