input {
    &[type="text"],
    &[type="search"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    {
        background    : rgba($color-02, .6);
        border        : none;
        border-left   : 1px solid $color-03;
        border-bottom : 1px solid $color-03;
        color         : $color-01;        
    }
    
    
    &.error {
        border-color : $color-04;
    }
}



textarea {
    background    : rgba($color-02, .6);
    border        : none;
    border-left   : 1px solid $color-03;
    border-bottom : 1px solid $color-03;
    color         : $color-01;
}