///******************************************************************************** 
// * GRID models
// * 
// * TABLE OF CONTENT
// * 
// * Grid flex model..............................................................
// * Grid float model.............................................................
// * Grid display: inline-block...................................................
// * Grid justify.................................................................
// * .............................................................................
// *******************************************************************************/
// 1
// 2
// 3
// 4
// 5
///******************************************************************************** 
// * GRID flex-model TODO
// *******************************************************************************/
@if $grid-type == 'flex' {
    
    .grid {
        
    }
    
}
// 1
// 2
// 3
// 4
// 5
///******************************************************************************** 
// * GRID float model TODO
// *******************************************************************************/
@if $grid-type == 'float' {

    %grid {
        
        
        &-container {
            @if $grid-max-width != false {
                max-width: $grid-max-width;
            }
        }
        
        
        
        &-item {
            @extend %fl-l;
            @extend %cl-f; // clear-fix
            
            &:last-of-type {
                @extend %pdr-0;
            }
        }
        
        
        
        &-pd {
            
            
            @each $gpd-n, $gpd-v in $map-grid-padding {
                
                &-#{$gpd-n} {
                    @include eachMediaQuery() { padding: $gpd-v; }
                    
                    .grid-item {
                        padding: $gpd-v;
                    }
                    
                    
                    
                    > .grid-item:last-of-type {
                        @include eachMediaQuery() { padding: $gpd-v; }
                    }
                }
                
            }
            
            
        }
        
        
        
    }
        
}
// 1
// 2
// 3
// 4
// 5
///******************************************************************************** 
// * GRID display inline TODO
// *******************************************************************************/
@if $grid-type == 'inline-block' {
    
    .grid {
        
    }
    
}
// 1
// 2
// 3
// 4
// 5
///******************************************************************************** 
// * GRID justify
// *******************************************************************************/
@if $grid-type == 'justify' {
    
    .grid {
        &-container {
            text-align   : justify;
            font-size    : 0;
            text-justify : distribute-all-lines;

            
            &:after {
                content : ' ';
                display : inline-block;
                width   : 100%;
            }
        }
        
        
        &-item {
            display    : inline-block;
            text-align : left;
            font-size  : $base-font-size;
        }
    }
}
